
<!DOCTYPE html>
<html>
  <head lang="en">
  <meta charset="UTF-8">
  <script language="JavaScript">
    function showInput() {
        document.getElementById('display').innerHTML = 
                    document.getElementById("user_input").value;
    }
  </script>

  </head>
<body>

  <form method="/enter" method="POST">
    <label><b>Enter a Message</b></label>
    <input type="text" name="message" id="user_input">
    <input type="text" name="sample" id="user_input">
    <input type="submit" onclick="showInput();"><br/>
  <label>Your input: </label>
  <p><span id='display'></span></p>
  </form>

  
</body>
</html>
