<h1>Sign up form</h1>

<form action="/register"  method="POST">
    <input type="text"  name="username"placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Signup</button>
</form>

<li><a href="/register">Sign up</a></li>

<li><a href="/login">Login</a></li>

<li><a href="/logout">Logout</a></li>